# Server configuration
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/cpen321

# Google Auth 
GOOGLE_CLIENT_ID=579363237977-4hpuo0hq1um9ns877et9r0jshgo735jr.apps.googleusercontent.com

# JWT Access
JWT_SECRET=mlGUGpmjqQOzH/Z5QdoctJMVnZev2dy6OkBhAFVZgcjPzizB2UneQj0qE5JYYvIi7Rpcgkp5yd0hGIe/ACBUFA==

# Other API keys, secrets, and configurations